<div class="product-details p-4 d-flex flex-column justify-content-between">
    {{!-- Header --}}
    <section>
        <h3>Beats Solo Wireless Headph</h3>
        <div class="text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
        </div>
    </section>
    {{!-- Price --}}
    <section>
        <del class="smaltet-black-50">$1999.50</del>
        <i class="text-danger font-weight-bold">$99.98</i>
    </section>
</div>