{{page-title "EmberjsTut"}}

{{!-- The following component displays Ember's default welcome message. --}}

<h1>My application</h1>


{{!-- Feel free to remove this! --}}


{{outlet}}  
<WelcomePage />