{{page-title "Item"}}
<GeneralContainer> 
    item {{ this.model }} works 
    <div class="product shadow-none rounded-0">
        <Product::Image/>
        <Product::Details/>
    </div>
    <h5 class="mt-5">Features</h5>
    <ul class="">
        <li>asdlfkasldf asfasdf </li>
        <li>asdlfkasldf asfasdf </li>
        <li>asdlfkasldf asfasdf </li>
        <li>asdlfkasldf asfasdf </li>
        <li>asdlfkasldf asfasdf </li>
    </ul>
</GeneralContainer> 
